.root:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.collapseDrawer:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  position: relative;
  min-width: 0;
}
.columns {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  flex-shrink: 0;
  flex-wrap: nowrap;
  flex-grow: 1;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 9 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ye6Pw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text {
  position: relative;
  height: auto;
  max-width: 100%;
  width: 100%;
  text-align: right;
}
.column__kSlJz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.horizontalStacketBarChart__kisFe:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  padding-top: 5px;
}
.horizontalStacketBarChart___1ROp:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  padding-top: 10px;
}
