.root:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.horizontalStacketBarChart__nEcV:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;
  min-width: 0;
}
.horizontalStacketBarChart__hpCeo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.legend:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  margin-top: 20px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: var(--token-f8sUIncseav6);
}
