@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C600%3B0%2C700&family=Roboto%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C700%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C700&display=swap");

.plasmic_tokens {
  --token-Wlx4fADIdjKb: 20px;
  --plasmic-token-sub-heading: var(--token-Wlx4fADIdjKb);
  --token-f8sUIncseav6: 20px;
  --plasmic-token-standard-margin: var(--token-f8sUIncseav6);
  --token-Lap1KXPN1dBm: 2px;
  --plasmic-token-small-margin: var(--token-Lap1KXPN1dBm);
  --token-QnNkvv8f9u7Q: 20px;
  --plasmic-token-standard-space: var(--token-QnNkvv8f9u7Q);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-RbExdK7T3pEp_font-family: "Inter", sans-serif;
  --mixin-RbExdK7T3pEp_font-size: 16px;
  --mixin-RbExdK7T3pEp_font-weight: 400;
  --mixin-RbExdK7T3pEp_font-style: normal;
  --mixin-RbExdK7T3pEp_color: #535353;
  --mixin-RbExdK7T3pEp_text-align: left;
  --mixin-RbExdK7T3pEp_text-transform: none;
  --mixin-RbExdK7T3pEp_line-height: 1.5;
  --mixin-RbExdK7T3pEp_letter-spacing: normal;
  --mixin-RbExdK7T3pEp_white-space: pre-wrap;
  --mixin-RbExdK7T3pEp_user-select: text;
  --mixin-RbExdK7T3pEp_text-decoration-line: none;
  --mixin-RbExdK7T3pEp_text-overflow: clip;
  --mixin-phJwF-Czdol6_color: #000000;
  --mixin-phJwF-Czdol6_font-weight: 700;
  --mixin-phJwF-Czdol6_font-size: 64px;
  --mixin-phJwF-Czdol6_line-height: 1;
  --mixin-phJwF-Czdol6_letter-spacing: -1px;
  --mixin-phJwF-Czdol6_white-space: pre-wrap;
  --mixin-uH3OakSQ4NUV_color: #000000;
  --mixin-uH3OakSQ4NUV_font-size: 48px;
  --mixin-uH3OakSQ4NUV_font-weight: 700;
  --mixin-uH3OakSQ4NUV_letter-spacing: -0.5px;
  --mixin-uH3OakSQ4NUV_line-height: 1.1;
  --mixin-uH3OakSQ4NUV_white-space: pre-wrap;
  --mixin-x4xxR9NVDjMW_color: #0070f3;
  --mixin-x4xxR9NVDjMW_white-space: pre-wrap;
  --mixin-SzbGtLdBy4xk_color: #000000;
  --mixin-SzbGtLdBy4xk_font-size: 32px;
  --mixin-SzbGtLdBy4xk_font-weight: 600;
  --mixin-SzbGtLdBy4xk_line-height: 1.2;
  --mixin-SzbGtLdBy4xk_white-space: pre-wrap;
  --mixin-YPiGxfbEvrqN_color: #000000;
  --mixin-YPiGxfbEvrqN_font-size: 24px;
  --mixin-YPiGxfbEvrqN_font-weight: 600;
  --mixin-YPiGxfbEvrqN_line-height: 1.3;
  --mixin-YPiGxfbEvrqN_white-space: pre-wrap;
  --mixin-QxT4V37cjpP6_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-QxT4V37cjpP6_border-bottom-color: #dddddd;
  --mixin-QxT4V37cjpP6_border-bottom-style: solid;
  --mixin-QxT4V37cjpP6_border-bottom-width: 1px;
  --mixin-QxT4V37cjpP6_border-left-color: #dddddd;
  --mixin-QxT4V37cjpP6_border-left-style: solid;
  --mixin-QxT4V37cjpP6_border-left-width: 1px;
  --mixin-QxT4V37cjpP6_border-right-color: #dddddd;
  --mixin-QxT4V37cjpP6_border-right-style: solid;
  --mixin-QxT4V37cjpP6_border-right-width: 1px;
  --mixin-QxT4V37cjpP6_border-top-color: #dddddd;
  --mixin-QxT4V37cjpP6_border-top-style: solid;
  --mixin-QxT4V37cjpP6_border-top-width: 1px;
  --mixin-QxT4V37cjpP6_border-bottom-left-radius: 3px;
  --mixin-QxT4V37cjpP6_border-bottom-right-radius: 3px;
  --mixin-QxT4V37cjpP6_border-top-left-radius: 3px;
  --mixin-QxT4V37cjpP6_border-top-right-radius: 3px;
  --mixin-QxT4V37cjpP6_font-family: "Inconsolata";
  --mixin-QxT4V37cjpP6_padding-bottom: 1px;
  --mixin-QxT4V37cjpP6_padding-left: 4px;
  --mixin-QxT4V37cjpP6_padding-right: 4px;
  --mixin-QxT4V37cjpP6_padding-top: 1px;
  --mixin-QxT4V37cjpP6_white-space: pre-wrap;
  --mixin-7kYIJuCAekyy_border-left-color: #dddddd;
  --mixin-7kYIJuCAekyy_border-left-style: solid;
  --mixin-7kYIJuCAekyy_border-left-width: 3px;
  --mixin-7kYIJuCAekyy_color: #888888;
  --mixin-7kYIJuCAekyy_padding-left: 10px;
  --mixin-7kYIJuCAekyy_white-space: pre-wrap;
  --mixin-icY24g7qVvvJ_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-icY24g7qVvvJ_border-bottom-color: #dddddd;
  --mixin-icY24g7qVvvJ_border-bottom-style: solid;
  --mixin-icY24g7qVvvJ_border-bottom-width: 1px;
  --mixin-icY24g7qVvvJ_border-left-color: #dddddd;
  --mixin-icY24g7qVvvJ_border-left-style: solid;
  --mixin-icY24g7qVvvJ_border-left-width: 1px;
  --mixin-icY24g7qVvvJ_border-right-color: #dddddd;
  --mixin-icY24g7qVvvJ_border-right-style: solid;
  --mixin-icY24g7qVvvJ_border-right-width: 1px;
  --mixin-icY24g7qVvvJ_border-top-color: #dddddd;
  --mixin-icY24g7qVvvJ_border-top-style: solid;
  --mixin-icY24g7qVvvJ_border-top-width: 1px;
  --mixin-icY24g7qVvvJ_border-bottom-left-radius: 3px;
  --mixin-icY24g7qVvvJ_border-bottom-right-radius: 3px;
  --mixin-icY24g7qVvvJ_border-top-left-radius: 3px;
  --mixin-icY24g7qVvvJ_border-top-right-radius: 3px;
  --mixin-icY24g7qVvvJ_font-family: "Inconsolata";
  --mixin-icY24g7qVvvJ_padding-bottom: 3px;
  --mixin-icY24g7qVvvJ_padding-left: 6px;
  --mixin-icY24g7qVvvJ_padding-right: 6px;
  --mixin-icY24g7qVvvJ_padding-top: 3px;
  --mixin-icY24g7qVvvJ_white-space: pre-wrap;
  --mixin-X_MaRExtPLSI_display: flex;
  --mixin-X_MaRExtPLSI_flex-direction: column;
  --mixin-X_MaRExtPLSI_align-items: stretch;
  --mixin-X_MaRExtPLSI_justify-content: flex-start;
  --mixin-X_MaRExtPLSI_list-style-position: outside;
  --mixin-X_MaRExtPLSI_padding-left: 40px;
  --mixin-X_MaRExtPLSI_position: relative;
  --mixin-X_MaRExtPLSI_list-style-type: disc;
  --mixin-X_MaRExtPLSI_white-space: pre-wrap;
  --mixin-L0ZChW990_JT_display: flex;
  --mixin-L0ZChW990_JT_flex-direction: column;
  --mixin-L0ZChW990_JT_align-items: stretch;
  --mixin-L0ZChW990_JT_justify-content: flex-start;
  --mixin-L0ZChW990_JT_list-style-position: outside;
  --mixin-L0ZChW990_JT_padding-left: 40px;
  --mixin-L0ZChW990_JT_position: relative;
  --mixin-L0ZChW990_JT_list-style-type: decimal;
  --mixin-L0ZChW990_JT_white-space: pre-wrap;
  --mixin-LQImlT_U47Bq_color: #000000;
  --mixin-LQImlT_U47Bq_font-size: 20px;
  --mixin-LQImlT_U47Bq_font-weight: 600;
  --mixin-LQImlT_U47Bq_line-height: 1.5;
  --mixin-LQImlT_U47Bq_white-space: pre-wrap;
  --mixin-Qs6_aFj0IkJL_color: #000000;
  --mixin-Qs6_aFj0IkJL_font-size: 16px;
  --mixin-Qs6_aFj0IkJL_font-weight: 600;
  --mixin-Qs6_aFj0IkJL_line-height: 1.5;
  --mixin-Qs6_aFj0IkJL_white-space: pre-wrap;
  --mixin-jIEI0-ztvMvH_color: #3291ff;
  --mixin-jIEI0-ztvMvH_white-space: pre-wrap;
  --mixin-Gz0SVXOWkExB_white-space: pre-wrap;
  --mixin-1NI3FLiT-v-n_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-a1E9sa_kHR4E_white-space: pre-wrap;
  --plasmic-mixin-unnamed-style-preset_white-space: var(
    --mixin-a1E9sa_kHR4E_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-RbExdK7T3pEp_font-family);
  font-size: var(--mixin-RbExdK7T3pEp_font-size);
  font-weight: var(--mixin-RbExdK7T3pEp_font-weight);
  font-style: var(--mixin-RbExdK7T3pEp_font-style);
  color: var(--mixin-RbExdK7T3pEp_color);
  text-align: var(--mixin-RbExdK7T3pEp_text-align);
  text-transform: var(--mixin-RbExdK7T3pEp_text-transform);
  line-height: var(--mixin-RbExdK7T3pEp_line-height);
  letter-spacing: var(--mixin-RbExdK7T3pEp_letter-spacing);
  white-space: var(--mixin-RbExdK7T3pEp_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-phJwF-Czdol6_color);
  font-weight: var(--mixin-phJwF-Czdol6_font-weight);
  font-size: var(--mixin-phJwF-Czdol6_font-size);
  line-height: var(--mixin-phJwF-Czdol6_line-height);
  letter-spacing: var(--mixin-phJwF-Czdol6_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-uH3OakSQ4NUV_color);
  font-size: var(--mixin-uH3OakSQ4NUV_font-size);
  font-weight: var(--mixin-uH3OakSQ4NUV_font-weight);
  letter-spacing: var(--mixin-uH3OakSQ4NUV_letter-spacing);
  line-height: var(--mixin-uH3OakSQ4NUV_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-x4xxR9NVDjMW_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-SzbGtLdBy4xk_color);
  font-size: var(--mixin-SzbGtLdBy4xk_font-size);
  font-weight: var(--mixin-SzbGtLdBy4xk_font-weight);
  line-height: var(--mixin-SzbGtLdBy4xk_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-YPiGxfbEvrqN_color);
  font-size: var(--mixin-YPiGxfbEvrqN_font-size);
  font-weight: var(--mixin-YPiGxfbEvrqN_font-weight);
  line-height: var(--mixin-YPiGxfbEvrqN_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-QxT4V37cjpP6_font-family);
  border-radius: var(--mixin-QxT4V37cjpP6_border-top-left-radius)
    var(--mixin-QxT4V37cjpP6_border-top-right-radius)
    var(--mixin-QxT4V37cjpP6_border-bottom-right-radius)
    var(--mixin-QxT4V37cjpP6_border-bottom-left-radius);
  padding: var(--mixin-QxT4V37cjpP6_padding-top)
    var(--mixin-QxT4V37cjpP6_padding-right)
    var(--mixin-QxT4V37cjpP6_padding-bottom)
    var(--mixin-QxT4V37cjpP6_padding-left);
  border-top: var(--mixin-QxT4V37cjpP6_border-top-width)
    var(--mixin-QxT4V37cjpP6_border-top-style)
    var(--mixin-QxT4V37cjpP6_border-top-color);
  border-right: var(--mixin-QxT4V37cjpP6_border-right-width)
    var(--mixin-QxT4V37cjpP6_border-right-style)
    var(--mixin-QxT4V37cjpP6_border-right-color);
  border-bottom: var(--mixin-QxT4V37cjpP6_border-bottom-width)
    var(--mixin-QxT4V37cjpP6_border-bottom-style)
    var(--mixin-QxT4V37cjpP6_border-bottom-color);
  border-left: var(--mixin-QxT4V37cjpP6_border-left-width)
    var(--mixin-QxT4V37cjpP6_border-left-style)
    var(--mixin-QxT4V37cjpP6_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-7kYIJuCAekyy_color);
  padding-left: var(--mixin-7kYIJuCAekyy_padding-left);
  border-left: var(--mixin-7kYIJuCAekyy_border-left-width)
    var(--mixin-7kYIJuCAekyy_border-left-style)
    var(--mixin-7kYIJuCAekyy_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-icY24g7qVvvJ_font-family);
  border-radius: var(--mixin-icY24g7qVvvJ_border-top-left-radius)
    var(--mixin-icY24g7qVvvJ_border-top-right-radius)
    var(--mixin-icY24g7qVvvJ_border-bottom-right-radius)
    var(--mixin-icY24g7qVvvJ_border-bottom-left-radius);
  padding: var(--mixin-icY24g7qVvvJ_padding-top)
    var(--mixin-icY24g7qVvvJ_padding-right)
    var(--mixin-icY24g7qVvvJ_padding-bottom)
    var(--mixin-icY24g7qVvvJ_padding-left);
  border-top: var(--mixin-icY24g7qVvvJ_border-top-width)
    var(--mixin-icY24g7qVvvJ_border-top-style)
    var(--mixin-icY24g7qVvvJ_border-top-color);
  border-right: var(--mixin-icY24g7qVvvJ_border-right-width)
    var(--mixin-icY24g7qVvvJ_border-right-style)
    var(--mixin-icY24g7qVvvJ_border-right-color);
  border-bottom: var(--mixin-icY24g7qVvvJ_border-bottom-width)
    var(--mixin-icY24g7qVvvJ_border-bottom-style)
    var(--mixin-icY24g7qVvvJ_border-bottom-color);
  border-left: var(--mixin-icY24g7qVvvJ_border-left-width)
    var(--mixin-icY24g7qVvvJ_border-left-style)
    var(--mixin-icY24g7qVvvJ_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-X_MaRExtPLSI_display);
  flex-direction: var(--mixin-X_MaRExtPLSI_flex-direction);
  align-items: var(--mixin-X_MaRExtPLSI_align-items);
  justify-content: var(--mixin-X_MaRExtPLSI_justify-content);
  list-style-position: var(--mixin-X_MaRExtPLSI_list-style-position);
  padding-left: var(--mixin-X_MaRExtPLSI_padding-left);
  position: var(--mixin-X_MaRExtPLSI_position);
  list-style-type: var(--mixin-X_MaRExtPLSI_list-style-type);
  flex-column-gap: var(--mixin-X_MaRExtPLSI_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-L0ZChW990_JT_display);
  flex-direction: var(--mixin-L0ZChW990_JT_flex-direction);
  align-items: var(--mixin-L0ZChW990_JT_align-items);
  justify-content: var(--mixin-L0ZChW990_JT_justify-content);
  list-style-position: var(--mixin-L0ZChW990_JT_list-style-position);
  padding-left: var(--mixin-L0ZChW990_JT_padding-left);
  position: var(--mixin-L0ZChW990_JT_position);
  list-style-type: var(--mixin-L0ZChW990_JT_list-style-type);
  flex-column-gap: var(--mixin-L0ZChW990_JT_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-LQImlT_U47Bq_color);
  font-size: var(--mixin-LQImlT_U47Bq_font-size);
  font-weight: var(--mixin-LQImlT_U47Bq_font-weight);
  line-height: var(--mixin-LQImlT_U47Bq_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-Qs6_aFj0IkJL_color);
  font-size: var(--mixin-Qs6_aFj0IkJL_font-size);
  font-weight: var(--mixin-Qs6_aFj0IkJL_font-weight);
  line-height: var(--mixin-Qs6_aFj0IkJL_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-jIEI0-ztvMvH_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
