.root:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: var(--token-f8sUIncseav6);
}
.wrapperWithCauliflowerTabs:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  text-align: center;
  margin: auto;
}
._3LevelTab {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  align-content: flex-start;
  justify-items: center;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
._3LevelTab > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  ._3LevelTab {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  ._3LevelTab > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__pAnrV {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.studentsAssessedTotal {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  text-align: left;
  min-width: 0;
  padding: 20px;
}
.text__l3Ohf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  text-align: left;
  min-width: 0;
  padding: 20px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__r1E95 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.threeTierPlacement:global(.__wab_instance) {
  position: relative;
}
.column__dZVy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.placementByDomain:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.adminDiagnosticResultsTableDataProvider___8Xs9Q:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.table___8FaZq:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  padding-top: 20px;
  min-width: 0;
}
._5LevelTab {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
._5LevelTab > * {
  grid-column: 4;
}
.text___90TJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-weight: 300;
  font-style: italic;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 20px 20px 20px 0px;
}
.text__lm6L0 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-Wlx4fADIdjKb);
  text-align: left;
  font-weight: 700;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 20px 20px 0px 0px;
}
.studentsAssessedTotal2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 5px 20px 20px 0px;
}
.studentPlacementChart:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  width: auto;
}
.placementsPopover:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  text-align: right;
  width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.placementByDomainDrawer__g71Zt:global(.__wab_instance):global(
    .__wab_instance
  ) {
  margin-top: 20px;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.adminDiagnosticResultsTableDataProvider__lbYBp:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.table__qjyH2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  padding-top: 20px;
  min-width: 0;
}
.freTab {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.freTab > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freTab {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freTab > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__jq2K9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__d2MZk {
  position: relative;
  height: auto;
  max-width: 100%;
  text-align: left;
  flex-shrink: 1;
}
.text__cqlCv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  text-align: left;
  padding-top: 20px;
  min-width: 0;
}
.placementByDomainDrawer__wzlDk:global(.__wab_instance):global(
    .__wab_instance
  ) {
  margin-top: 20px;
}
