.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.text {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-Wlx4fADIdjKb);
  text-align: left;
  min-width: 0;
  padding: 0px var(--token-QnNkvv8f9u7Q) var(--token-QnNkvv8f9u7Q);
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.triangleChart:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  text-align: right;
  padding-right: 10px;
  min-width: 0;
}
.legend:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  text-align: center;
  align-self: center;
  padding-left: 10px;
  min-width: 0;
}
